{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Paciente</h2>
<form method="post">
    <div class="field">
        <label for="name">Nombres:</label>
        <div class="control">
            <input type="text" id="name" name="name" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="species">Apellidos:</label>
        <div class="control">
            <input type="text" id="species" name="species" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="age">CI:</label>
        <div class="control">
            <input type="number" id="age" name="age" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="birth_date">Fecha de Nacimiento:</label>
        <div class="control">
            <input type="date" id="birth_date" name="birth_date" required class="input">
        </div>
    </div>
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}
